# Runtime data
.DS_Store

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Cypress data
cypress/reports/
cypress/downloads/

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json


